body {
    background-color: black;
    width: 500px;
    height: 400px;
    margin:  50px auto;
    font-family: cursive;
    display:flex;
}
.postcard {
    background-color: white;
    padding: 1%;
}
.header {
    width: 100%;
    padding: 1%;
    display:flex;
}
h1 {
    width: 310px;
    padding: 1%;
    flex: 10;
}
#logo {
    width: 40px;
    height: 40px;
    padding-right: 10%;
    padding-top:5%;
    flex: 1;
}
.main{
    display: inline-block;
    padding: 1%;
}
.description {
    width: 50%;
    float: left;
    padding: 1%;
}
.form {
    width: 40%;
    float: right;
    padding: 1%;
    opacity: 60%;
}
.footer {
    display: flex;
    padding: 1%;
}

.form {
    margin-top: 10px;
    padding-top: 10px;
    border-bottom-color: grey;
    padding: 1%;
}

.footer button {
    display: flex;
    padding: 10px;
    margin: 20px auto;
    padding: 1%;
    font-size: large;
    cursor:pointer;
    background-color: rgb(158, 156, 156);
    
}
